.card-quienes-somos{
  max-width: 600px;
  margin: 60px auto;
  display:flex;
  justify-content:space-around;
  color: #FA0050;
    
}

.example-header-image {
  background-image: url('https://images.pexels.com/photos/14159270/pexels-photo-14159270.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
}

.form-quienessomos{
  display:flex;
  flex-direction: column;
  gap:24px;
}

.mat-card-header
{
  max-width: 600px;
  margin: 60px auto;
  display:flex;
  justify-content:space-around;
  color: #FA0050;
    
}
.mat-card-subtitle{
  max-width: 600px;
  margin: 60px auto;
  display:flex;
  justify-content:space-around;
  color: #FA0050;
}
.buttons-row{
  display:flex;
  justify-content:space-around;
}