<main>
  <mat-card class="card-login">
    <mat-tab-group>
      <mat-tab label="Iniciar Sesión">

        <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
          <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input
              type="text"
              matInput
              placeholder="Ingresa tu email"
              name="email"
              formControlName="email"
            />
          </mat-form-field>

          <app-error-display [control]="loginForm.controls['email']"></app-error-display>

          <mat-form-field appearance="legacy">
            <mat-label>Contraseña</mat-label>
            <input
              type="password"
              matInput
              placeholder="Ingresa tu contraseña"
              name="password"
              formControlName="password"
            />
          </mat-form-field>

          <app-error-display [control]="loginForm.controls['password']"></app-error-display>

          <div *ngIf="!!loginErrorMsg" class="alert alert-danger mt-1">
          {{loginErrorMsg}}
          </div>

          <button type="submit" mat-raised-button color="accent" [disabled]="!loginForm.valid">Iniciar Sesión</button>
        </form>

      </mat-tab>
      <mat-tab label="Registro">
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="form">
          <mat-form-field appearance="legacy">
            <mat-label>Nombre</mat-label>
            <input
              type="text"
              matInput
              placeholder="Ingresa tu nombre"
              name="fname"
              formControlName="nombre"
            />
          </mat-form-field>
          <app-error-display [control]="registerForm.controls['nombre']"></app-error-display>
          <mat-form-field appearance="legacy">
            <mat-label>Apellido</mat-label>
            <input
              type="text"
              matInput
              placeholder="Ingresa tu apellido"
              name="lname"
              formControlName="apellido"
            />
          </mat-form-field>
          <app-error-display [control]="registerForm.controls['apellido']"></app-error-display>
          <mat-form-field appearance="legacy">
            <mat-label>Dni</mat-label>
            <input
              type="text"
              matInput
              placeholder="Ingresa tu dni"
              name="dni"
              formControlName="dni"
            />
          </mat-form-field>
          <app-error-display [control]="registerForm.controls['dni']"></app-error-display>

          <mat-form-field appearance="legacy">
            <mat-label>Telefono</mat-label>
            <input
              type="text"
              matInput
              placeholder="Ingresa tu telefono"
              name="telefono"
              formControlName="telefono"
            />
          </mat-form-field>
          <app-error-display [control]="registerForm.controls['telefono']"></app-error-display>

          <mat-form-field appearance="legacy">
            <mat-label>Dirección</mat-label>
            <input
              type="text"
              matInput
              placeholder="Ingresa tu dirección"
              name="address"
              formControlName="direccion"
            />
          </mat-form-field>
          <app-error-display [control]="registerForm.controls['direccion']"></app-error-display>

          <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input
              type="text"
              matInput
              placeholder="Ingresa tu email"
              name="email"
              formControlName="email"
            />
          </mat-form-field>

          <app-error-display [control]="registerForm.controls['email']"></app-error-display>

          <mat-form-field appearance="legacy">
            <mat-label>Contraseña</mat-label>
            <input
              type="password"
              matInput
              placeholder="Ingresa tu contraseña"
              name="password"
              formControlName="password"
            />
          </mat-form-field>
          <app-error-display [control]="registerForm.controls['password']"></app-error-display>

          <mat-form-field appearance="legacy">
            <mat-label>Confirma la contraseña</mat-label>
            <input
              type="password"
              matInput
              placeholder="repite la contraseña"
              name="password2"
              formControlName="repassword"
            />
          </mat-form-field>

          <app-error-display [control]="registerForm.controls['repassword']"></app-error-display>

          <button type="submit" mat-raised-button color="accent" [disabled]="!registerForm.valid" *ngIf="!registroExitoso">Enviar</button>
          <p class="alert alert-success" *ngIf="registroExitoso">Te registraste con exito</p>
        </form>


      </mat-tab>
    </mat-tab-group>
  </mat-card>
</main>
