
.card-reserva{
  max-width: 600px;
  margin: 60px auto;
}

.example-header-image {
  background-image: url('https://images.pexels.com/photos/14159270/pexels-photo-14159270.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
}

.form-reserva{
  display:flex;
  flex-direction: column;
  gap:24px;
}

.buttons-row{
  display:flex;
  justify-content:space-around;
}