<main>
  <mat-card class="card-reserva">
    <head>
      <meta charset="UTF-8">

      <link rel="https://material.angular.io/components/datepicker/overview#datepicker-custom-icon" href="">
      <link rel="" href="">
      <title>Customer Service Bar</title>
    </head>

<body>
 
  <div>
    <h1 class="title">Customer Service Bar</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col mb-4">
        <i class="fas fa-bars menu-button" onclick="toggleMenu(event)"></i>
      </div>
    </div>
  </div>

  <h1 class="title">Reservas</h1>
  <a href="lista-reservas.">Ver mis reservas</a> 
  <div class="usuario-form">

    <form action="./confirmacion-reserva." class="needs-validation-reserva" method="post" novalidate>
      <div class="row">
        <div class="col">
          <label for="txt-fecha" class="form-label">Fecha</label>
          <input class="user form-control" id="txt-fecha" type="date" name="fecha" required>
          
          <div class="invalid-feedback">
            Ingrese una fecha igual o mayor que la actual
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="txt-hora" class="form-label">Hora</label>
          <input class="user form-control" id="txt-hora" type="time" name="hora" required>
          <div class="invalid-feedback">
            Ingrese una hora mayor que la actual
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="txt-personas" class="form-label">Cantidad de personas</label>
          <input class="user form-control" id="txt-personas" type="number" name="cantidadPersonas" required>
          <div class="invalid-feedback">
            Ingrese una cantidad de personas entre 1 y 100
          </div>
        </div>
      </div>



      <button class="btn btn-bar">Enviar</button>
    </form>


  </div>
  <footer class="footer-style">
    Copyright © Todos los derechos reservados
  </footer>
  <script src=""></script>
</body>

  </mat-card>
</main>
